@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --clr-main: #110c29;
    --clr-main-ligth: #0c4723;
    --clr-white: #d9fffe;
    --clr-gray: #c2e6eed5;
    --clr-red: #df2d15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caprasimo', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    font-weight: 400;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 200;
    padding: 1rem;
    font-size: 1.3rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}


.numero {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.15rem;
    border-radius: 0.25rem;
}


.boton-menu>i.bi-hand-index-fill,
.boton-menu>i.bi-hand-index {
    transform: rotateZ(90deg);
}

.texto-footer {
    color: var(--clr-main-ligth);
    font-size: 0.85rem;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 2rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 0.5rem;
    border-radius: 1rem;
    /* margin-top: -1.8rem; */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-nombre {
    font-size: 1.15rem;
    font-weight: 100;
}

.producto-precio {
    font-size: 1.15rem;
    font-weight: 100;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color 0.2s, color 0.2s;
    font-weight: 100;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

/**CARRITO**/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
    /* display: none; */
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.producto-imagen-carrito {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: 0.75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.acciones-vaciar-carrito {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-acciones-derecha {
    display: flex;

}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.Envio {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--clr-gray);
    color: var(--clr-main);
}

.nombre {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.telefono {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.direccion-envio {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}



.deshabilitar {
    display: none;
}

/*CONTACTENOS*/
.main-contactenos {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-contactenos-form {
    gap: 10px;
    width: 60vw;
    border-radius: 20px;
    background-color: var(--clr-gray);
    color: var(--clr-main);
}

.main-contactenos-form-nombre-usuario {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main-contactenos-form-nombre-usuario input {
    max-width: 100%;
    width: 100%;
}

.main-contactenos-form-email-usuario {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main-contactenos-form-email-usuario input {
    max-width: 100%;
    width: 100%;
}

.main-contactenos-form-motivo-mensaje {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
}

.main-contactenos-form-mensaje-usuario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.main-contactenos-form-mensaje-usuario textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    width: 100%;
}

.main-contactenos-form-sumit-reset {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}

.mi-btn {
    border: 0;
    background-color: var(--clr-main);
    padding: 0.5rem;
    margin-left: 0.5rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 1rem;
}

.mi-btn:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
}
.form-control{
    border: 0;
    background-color: var(--clr-white);
    padding: 0.5rem;
    color: var(--clr-main);
    border-radius: 1rem;
}